/*General rules*/

html {
	margin: 5px;
}

html,
body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 12px;
	width: 350px;
	white-space: nowrap;
	position: relative;
	display: block;
	max-width: 100%;
	padding-bottom: 5px;
	-webkit-user-select: none;
	cursor: default;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

input[type=text] {
	box-sizing: border-box;
	padding: 5px;
	font-size: 10px;
}

input[type=checkbox] {
	cursor: pointer
}

hr {
	margin: 10px auto;
	border: 1px solid black;
}

label {
	font-size: 14px;
	font-weight: normal
}

.btnStyle {
	position: absolute;
	font-size: 14px;
	width: 20px;
	height: 20px;
	text-align: center;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	background: linear-gradient(to bottom,#ffffff 17%,#a2a2a2 100%)
	color: white
}

.btnStyle:hover {
	cursor: pointer;
	box-shadow: 0px 0px 4px #333;
}


/*Principal page*/
.settingsIcon span{
	animation: spin 1s infinite linear;
}
.settingsIcon {
	left: 90%;
}

.title {
	font-size: 16px;
	font-family: "Verdana";
	font-weight: bolder;
	font-style: italic;
}

.subtitle {
	display: inline-block
}

.newActivity{
	width: 100%
}

.newActivity thead td {
	text-align: center;
	padding-bottom: 10px;
	font-weight: bolder;
}

.newActivity tbody tr {
	padding-right: 10px;
}

.newActivity tbody tr:hover {
	cursor: pointer;
	text-decoration: underline;
	transition: all 0.5s;
	color: cornflowerblue
}

.newActivity tbody tr td {
	vertical-align: middle;
	padding: 5px 0;
	border-top: 1px solid black;
}

.newActivity tr td:nth-child(1) {
	max-width: 75%;
	white-space: pre-line;
	word-break: break-word;
}

.newActivity tr td:nth-child(2) {
	text-align: center
}

.hiddenElement {
	display: none
}

.bottomBtn {
	padding-top: 10px;
	text-align: center
}

.alreadySaw {
	display: inline-block;
	margin: 0 auto;
}

.privateMsgs .glyphicon-envelope{
	margin-left: 5px;
}

.goToForum {
	margin-right: 5px;
}

.refresh {
	margin-left: 5px;
}


/*configSection*/

.configSection {
	position: absolute;
	top: 0;
	background: white;
	width: 100%;
	height: 100%;
	left: 110%;
}

.configSectionShow {
	left: 0;
	background:
}

.closeConfig {
	position: absolute;
	left: 90%;
	top: 0;
	color: crimson;
}

.configContainer{
	margin: 0px 10px;
}

#refreshTime {
	margin-left: 5px
}

.thankYouMsg {
	display: none;
	background-color: white
}

/*Animations*/

.standarAnimation {
	transition-timing-function: ease-out;
	transition: all 0.5s;
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(90deg);
	}
}

/*Arabic fixes*/
.arabicFixes .configContainer{
	text-align: right;
	clear:both
}
.arabicFixes form select,.arabicFixes form label{
	float:right
}
.arabicFixes form select{
	margin-right: 10px;
}
.arabicFixes .errorMessage ul{
	direction: rtl;
}
.arabicFixes .text-left{
	text-align: right
}