/*********************EMOJIS*************************/
.emojisDropdown{
	width:250px;
}
.emojisDropdown.dropdown-menu{
	padding: 0
}
.emojisDropdown .nav{
	margin: 0
}

.emojisDropdown .nav-tabs li a{
	margin: 0;
	padding: 5px;
}

.emojisDropdown .tab-content{
	padding-top:5px;
}

.emojisDropdown .emojisDropdownContainer{
	white-space: normal;
	max-height: 100px;
	overflow-y: scroll
}

.emojisDropdown .emojisDropdownContainer .emojisDropdownItems{
	display: inline-block;
	padding:3px;
	position: relative;
}

.emojisDropdown .emojisDropdownContainer .emojisDropdownItems:hover{
	background-color: #496266;
	border-radius: 3px;
	cursor: pointer
}

.emojisDropdown .emojisDropdownItems img{
	max-width:50px;
	width:100%;
}

.emojisDropdown .emojiFooter{
	font-size: 10px;
	text-align: center;
}

.emojisDropdown .customEmojiInput{
	width: 60%;
	font-size: 10px;
	padding: 0 5px;
	margin-left: 5px;
}

.emojisDropdown #customEmojis button{
	margin-left: 5px;
}
.emojisDropdown .customEmojiBtnImage{
	padding: 0;
	margin: 0;
	vertical-align: middle;
	display: block;
}
/****************************PAYPAL*********************/
.pandaSalute{
	cursor: pointer;
	padding-bottom: 40px;
	margin-top: -40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#paypalModal{
	display: none
}
.paypalModalTitle{
	text-align: center;
	display: block;
	font-size: 18px;
}
#paypalDonateBtn{
	display: inline-block;
	margin-left: 15px;
}