.emojisDropdown{
	width:250px;
}
.emojisDropdown .nav{
	margin: 0
}

.emojisDropdown .nav-tabs li a{
	margin: 0;
	padding: 5px;
}

.emojisDropdown .tab-content{
	padding-top:5px;
}

.emojisDropdown .emojisDropdownContainer{
	white-space: normal;
	max-height: 100px;
	overflow-y: scroll
}

.emojisDropdown .emojisDropdownContainer .emojisDropdownItems{
	padding:3px;
}

.emojisDropdown .emojisDropdownContainer .emojisDropdownItems:hover{
	background-color: #496266;
	border-radius: 3px;
	cursor: pointer
}

.emojisDropdown td img{
	max-width:50px;
	width:100%;
}

.emojisDropdown .emojisDropdownItems{
	display: inline-block;
}

.emojisDropdown .emojiFooter{
	font-size: 10px;
	text-align: center;
}